.activeNavLink{
    background: black;
    position: relative;
}
.activeNavLink::after{
    content: '';
    position: absolute;
    width: 8px;
    aspect-ratio: 1/1;
    background: greenyellow;
    border-radius: 50%;
    top: 6px;
    right:6px;
}