.activeNavLink{
    background: black;
    position: relative;
}
.activeNavLink::after{
    content: '';
    position: absolute;
    width: 10px;
    aspect-ratio: 1/1;
    background: greenyellow;
    border-radius: 50%;
    top: 5px;
    right:5px;
}